
.empty-state-container {
  background-color: #f2f2f2;
  padding-top: 25px;
  padding-left: 45px;
  padding-right: 50px;
  padding-bottom: 260px;
}

.music {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 950px;
  top: 250px;
  opacity: 0.5;
}


.empty-state-text {
  position: absolute;
  left: 670px;
  top: 360px;
  opacity: 0.5;
}
