.label {
  padding-top: 20px;
  padding-bottom: 15px;
  width: 100%;
  color: #737373;
}

.slider-container {
  padding-top: 35px;
  padding-left: 80px;
  float: left;
  width: 400px;
  height: 585px;
  background-color: #f2f2f2;
  overflow: auto;
}

.title-left {
  font-size: 60px;
  color: #737373;
}

.submit-button {
  position: absolute;
  left: 210px;
  top: 525px;
  font-size: 14px;
  color: #F2F2F2;
  background-color: #737373;
  height: 35px;
  width: 90px;
}

.submit-button:hover {
  background-color: #313189;
  color: #F2F2F2;
}
