.label {
  padding-top: 25px;
  padding-bottom: 22px;
  width: 100%;
  color: #737373;
}

.slider-container {
  padding-top: 32px;
  padding-left: 60px;
  float:left;
  width: 400px;
  height: 585px;
  background-color: #f2f2f2;
}

.title {
  font-size: 60px;
  color: #737373;
}
