.container {
  padding-top: 32px;
  padding-left: 45px;
  padding-right: 50px;
  padding-bottom: 100px;
  background-color: #f2f2f2;
}

.title {
  font-size: 60px;
  color: #737373;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.song-container {
  height: 435px;
  margin-top: 32px;
  padding-left: 72px;
  padding-right: 72px;
  overflow: auto;
}
