.container {
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 50px;
  padding-bottom: 218px;
  background-color: #f2f2f2;
}

.title {
  font-size: 60px;
  color: #737373;
  padding-left: 30px;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.song-container {
  height: 400px;
  margin-top: 28px;
  padding-left: 72px;
  padding-right: 72px;
  overflow: auto;
}

input {
  background-color: #ffffff;
  width: 386px;
  height: 32px;
  padding: 8px;
  border-radius: 100px;
  font-size: 18px;
  outline: none;
  border: none;
  padding-left: 24px;
}
