.song-card {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: #264f73;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.song-card-focused {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: #264f73;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: #e0e0e0;
}

.song-number {
  font-size: 18px;
  color: #737373;
}

.song-title {
  font-size: 18px;
  font-weight: bold;
  color: #737373;
  margin-left: 16px;
}

.artist {
  font-size: 18px;
  color: #737373;
  margin-right: 16px;
}
